{% extends 'baselogin.html' %}
{% block title %} Hospital User {% endblock title %}
{% block form %}
<h2>Add Hospital User </h2>
{% include "message.html" %}
<div class="row">
<div class="col-md-4">

<a href="/logoutadmin" class="btn btn-danger">Logout</a></div>

<div class="col-md-4">


<form action="/addHospitalUser" method="post">

<div class="form-group">
<input type="text" class="form-control mt-2" placeholder="Enter  Hospital Code" name="hcode" required>
</div>

<div class="form-group">
<input type="email" class="form-control mt-2" placeholder="Enter  Email" name="email" required>
</div>

<div class="form-group">
<input type="password" class="form-control mt-2" placeholder="Enter  Password" name="password" required>
</div>

<br>
<button type="submit" class="btn btn-info">Add</button>

</form>

</div>


<div class="col-md-4"></div>

</div>



{% endblock form %}
