{% extends 'baselogin.html' %}
{% block title %} Admin Login{% endblock title %}
{% block form %}
<h2>Admin Login  </h2>

<div class="row">
<div class="col-md-4"></div>

<div class="col-md-4">


<form action="/admin" method="post">

{% include "message.html" %}

<div class="form-group">
<input type="text" class="form-control mt-2" placeholder="Enter  UserName" name="username" required>
</div>


<div class="form-group">
<input type="password" class="form-control mt-2" placeholder="Enter  Password" name="password" required>
</div>
<br>
<button type="submit" class="btn btn-info">Login</button>

</form>

</div>


<div class="col-md-4"></div>

</div>


{% endblock form %}
