{% extends 'baselogin.html' %}
{% block title %} Triggers  {% endblock title %}
{% block form %}
<h2>Triggers </h2>
{% include "message.html" %}
<div class="row">



<div class="col-md-2"></div>
<div class="col-md-8">



<div class="container mt-2">

    <table class="table table-dark">
  <thead>
  <h3 class="text-center text-white bg-dark">Triggered Data</h3>
    <tr>
      
      <th scope="col">Hospital Code</th>
      <th scope="col">Normal Bed</th>
      <th scope="col">HICU Bed</th>
      <th scope="col">I.C.U Bed</th>
      <th scope="col">Ventilator Bed</th>
      <th scope="col">Action</th>
      <th scope="col">DATE</th>
    </tr>
  </thead>
  <tbody>
  {% for post in query %}
   <tr>
      <td>{{post.hcode}}</td>
      <td>{{post.normalbed}}</td>
      <td>{{post.hicubed}}</td>
      <td>{{post.icubed}}</td>
      <td>{{post.vbed}}</td>
      <td>{{post.querys}}</td>
      <td>{{post.date}}</td>
    </tr>
   
  {% endfor %}
   
  </tbody>
</table>


</div>
</div>

{% endblock form %}
